---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import {Switch} from './ui/switch';
---

<header class="bg-white shadow-md px-4">
	<nav class="grid grid-cols-3 items-center justify-items-center">
		<h2 class="text-xl m-0"><a href="/" class="no-underline text-current">{SITE_TITLE}</a></h2>
		<div class="">
			<HeaderLink href="/" class="py-4 px-2 text-black border-b-4 border-transparent hover:text-gray-700 active:border-accent">
				Home
			</HeaderLink>
			<HeaderLink href="/blog" class="py-4 px-2 text-black border-b-4 border-transparent hover:text-gray-700 active:border-accent">
				Blog
			</HeaderLink>
		</div>
		<div>
			<Switch client:load/>
		</div>
	</nav>
</header>
<style>
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
