---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout>
  <main>
    <p>
      Welcome to testforge. 
      Here you will find expert insights, practical tutorials, and innovative tools designed to significantly streamline 
      your testing processes and help you build stronger, smarter automation.
    </p>
    <h5>Recent posts</h5>
    <div class="recent-posts">
      {
        posts.map((post) => (
          <a href={`/blog/${post.id}/`}>
            <div class="post-item">
              {post.data.title}
              <FormattedDate date={post.data.pubDate} />
            </div>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>

<style>
  .recent-posts a,
  .recent-posts a.active {
    color: var(--black);
    text-decoration: none;
  }
  .post-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-bottom-color: var(--gray);
  }
</style>
